h1 {
    margin-top: 120px; 
    text-align: center;
    font-size: 30px;
}

.table-header:hover {
    cursor: pointer;
    background: #5a66a1;
    color: black;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 5px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #1800de;
    font-weight: bold;
    color: white;
}

td {
    background-color: white;
}

.tabeli_paigutuseks {
    margin-top: 200px; 
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}