body {
    margin: 0;
    font-family: lulo-clean-w01-one-bold, lulo-clean-w05-one-bold, sans-serif;
}

/* Navigatsiooniriba */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #1300de;
    position: fixed; 
    top: 0; 
    width: 100%;
    padding: 10px 20px;
    z-index: 3;
}

.navbar .nav-links {
    display: flex;
    gap: 20px; /* Vahemaa nupud */
}
  
  /* Lingid nav ribal*/
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
  /* Taust muutub, kui hiirega selle kohal olla */
.navbar a:hover {
    background: #ddd;
    color: #1300de;
}
  
.social-icons a {
    font-size: 20px;
    color: white;
    margin-left: 10px; /* Sotsiaalmeedia linkide vahe */
}

.logo-link {
    display: block;
}

.logo {
    width: 50px; 
    height: auto;
}

.main {
    margin-top: 10px; /* Et asjad ei kattuks*/
}

  /* Font awesome ikoonid */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.social-icons a {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
.social-icons a:hover {
    color: #1300de;
}